*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

.header video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;

}

a:visited, a:hover a:focus{
	text-decoration: none;
	color: white;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{
	width: 150px;
}

.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;	
}
.nav-links ul li{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: white;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}


.textbox{
	color: white;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;

}
.textbox h1{
	font-size: 62px;
}
.textbox p{
	margin: 10px 0 40px;
	font-size: 20px ;
}

.input {
	display: inline-block;
	text-align: center;
    padding: 15px 20px;
    margin: 8px 30px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.input:hover{
	background: gray;
}

.arrow{
	color: white;
	position: absolute;
	top: 90%;
	left: 50%;
	width: 50%;
}




/* ----- Paragraphs ----*/

.promise{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.promise h1{
	font-size: 36px;
	font-weight: 600;
}

.description{
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}


.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.par-col{
	flex-basis: 31%;
	background: whitesmoke;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

.h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.par-col:hover{
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


/* ------ Items ----- */

.items{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}

.title{
	font-size: 36px;
	font-weight: 600;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: black;
}
.title::after{
	content: '';
	background: black;
	width: 200px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

.product{
	flex-basis: 20%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: 0.5s;
}

.product img{
	width: 100%;
}

.product:hover{
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


/* ----- Footer ----*/

.footer{
	background: #000;
	color: #8a8a8a;
	font-weight: 14px;
	padding: 60px 0 20px;
}

.footer-row{
	display: inline-flex;
	padding-left: 25px;
	padding-right: 25px;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.footer-row h3{
	margin-bottom: 20px;
}

.footer-col1, .footer-col2, .footer-col3, .footer-col4{
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col1{
	margin: 5px 80px 0;
	margin-left: 40px;
}
.footer-col2{
	margin: 5px 90px 0;
	text-align: center;
}
.footer-col2 img{
	width: 100%;
	margin-bottom: 10px;
}
.footer-col3, .footer-col4{
	margin: 5px 90px 0;
	text-align: center;
}
ul{
	list-style-type: none;
}

.app-logo{
	margin-top: 20px;
}
.app-logo img{
	width: 140px;
}
.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.copyright{
	text-align: center;
}

/* ----------- About US ------------ */

.about-us{
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;

}
.about-col{
	flex-basis: 48%;
	padding: 30px 2px;
}
.about-col img{
	width: 20%;
}
.about-col h1{
	font-size: 62px;
	padding-top: 0;
}
.about-col p{
	padding: 15px 0 25px;
}

.black-btn{
	border-radius: 1px solid black;
	background: transparent;
	color: black;
}

.table{
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	margin-left: 5px;
}
.table td, th{
	border: 1px solid black;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){
	background-color: #dddddd;
}
tr:nth-child(odd){
	background-color: #eee;
}

.function{
	font-size: 25px;
	font-weight: bold;
	padding: 8px;
	border: 1px solid black;
	border-radius: 30px;
	justify-content: space-between;
}



/* ----------- Products Page ------------ */

.sub-header{
	height: 25vh;
	width: 100%;
	background-color: black;
	background-size: cover;
	background-position: center;
}

select{
	padding: 5px;
}
select:focus{
	outline: none;
}

.page-btn{
	margin-bottom: 80px;
}
.page-btn span{
	display: inline-block;
	border: 1px solid black;
	border-radius: 40px;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}